@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

.red-bg {
    background-color: #E3107A;
}

.dark-blue-bg {
    background-color: #011827;
}

.blue-bg {
    background-color: #36769D;
}

.light-blue-bg {
    background-color: #BACFE5;
}

.grey-bg {
    background-color: #B6BDB5;
}

.red-text {
    color: #E3107A;
}

.dark-blue-text {
    color: #011827;
}

.blue-text {
    color: #36769D;
}

.light-blue-text {
    color: #BACFE5;
}

.grey-text {
    color: #B6BDB5;
}